#title, .center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

button.center{
	width: 6rem;
	height: 3rem;
	margin-top: 1rem;
}

.container-dificultat{
	text-align: center;
	margin: 10px auto;
}
.container-dificultat select{
	display: block;
	margin: 10px auto;
}

#title{
	color:red;
	text-align: center;
}